*{
  margin: 0;
  padding: 0;
}
.sky{
  width: 100%;
  height: 120vh;
  position: relative;
  background-image: linear-gradient(lightblue,white);
  overflow-x: hidden;
}
.kite{
  top: 50px;
  position: absolute;
  z-index: 1;
}
.trees{
  position: absolute;
  bottom:0;
  height: 450px;
  right: 0;
  left: -2000px;
  width: 500%;
  background-image: url(https://bit.ly/2PRnATy);
  background-repeat: repeat-x;
  animation: trees 15s linear infinite;
  overflow-x: hidden;
}
@keyframes trees{
  100%{
    transform: translateX(2000px);
  }
    0% { transform: translateY(0); }
  
}
.kite {
    -webkit-animation: kite 1s infinite  alternate;
    animation: kite 1s infinite  alternate;
}
@-webkit-keyframes kite {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}
@keyframes kite {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}